<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Persus Vincere</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>
	<div class="header">
		<div class="logo">
		<img src="stylesheets/img/persusvincere.png">

		</div>
	</div>
	
	<div class="intro">
		<div class="intro-content">
			<h1>Welcome to Persus Vincere</h1>
			<h2>Holder of Best Interior Designing Company since 1989</h2>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
			<br><br>
	Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.		
		</p>
		</div>
	</div>
	
	<div class="whatWeDo">
		<div class="container">
			<h1>What we do</h1>
			<h2>Consectetyr adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
			<div class="grid">
				<div class="whatWeDo-left">
					<img src="stylesheets/img/whatwedo1.jpg">
					<h3><span class="gold-text">Residential</span> Design</h3>
					<p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.<br><br>
					Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
				</div>

				<div class="whatWeDo-right">
					<img class="secondimage" src="stylesheets/img/whatwedo2.jpg">
					<h3><span class="gold-text">Office</span> Design</h3>
					<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="process">
		<div class="container">
				<h1>Our Process</h1>
				<h2>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
			<div class="process-container">
				<div class="process-left">
					<div class="circle c-active">STEP 1</div>
					<div class="circle c-inactive">STEP 2</div>
					<div class="circle c-inactive">STEP 3</div>
				</div>
			
			<div class="process-right">
				<div class="process-content on">
				<p>
					Qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.<br><br>Eest et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe 
				</p>
				<img src="stylesheets/img/process1.jpg">
				</div>
				
				<div class="process-content">
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.<br><br> Id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe 
				</p>
				<img src="stylesheets/img/process2.jpg">
				</div>
				
				<div class="process-content">
				<p>
					Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.<br><br> Id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
				</p>
				<img src="stylesheets/img/process3.jpg">
				</div>
				</div>
			</div>
		</div>			
	</div>
	
	<div class="project">
		<div class="owl-carousel owl-theme">
			<div class="item"><h3>Vergudo<hr class="hr-text"></h3><img src="stylesheets/img/project/project1.jpg"></div>
			<div class="item"><h3>Teo Villa<hr class="hr-text"></h3><img src="stylesheets/img/project/project2.jpg"></div>
			<div class="item"><h3>Soliel Lounge<hr class="hr-text"></h3><img src="stylesheets/img/project/project3.jpg"></div>
			<div class="item"><h3>Zena<hr class="hr-text"></h3><img src="stylesheets/img/project/project4.jpg"></div>
			<div class="item"><h3>Shangri-la<hr class="hr-text"></h3><img src="stylesheets/img/project/project5.jpg"></div>
		</div>
	</div>
	
	<div class="testi">
		<div class="container">
			<h1>Testimonials</h1>
			<h2>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
			<div class="testi-container">	
				<div class="testi-left">
					<span class="side-box">“</span>
					<div class=testi-content>
						<p>Acilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
					</p>
					<p class="testi-author">
						Steve Irwin, Host of Crocodile Hunter
					</p>	
					</div>
				</div>

				<div class="testi-right">
					<span class="side-box">“</span>
					<div class=testi-content>
					<p>Vam libero tempore, soluta nobis autem est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae autem dolor repellendus.
					</p>
					<p class="testi-author">
						Kenneth Winston, Manager of Zeta
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<div class="container">
		<div class="left-contact">
			<img src="stylesheets/img/persusvincere.png">
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo</p>
		</div>
			
		<div class="right-contact">
			<div class="contact-us">
				<h3>Contact Us</h3>
				<p>Sed ut perspiciatis unde omins iste natus impedit quo</p>
				<ul>
					<li><img width="14" height="22" src="stylesheets/img/fav2.png">4747 Bingamon Road, Cleveland, Switzerland</li>
					<li><img src="stylesheets/img/fav3.png">+(544) 216-695-6568</li>
					<li><img src="stylesheets/img/fav4.png">+(544) 440-545-6568</li>
					<li><img src="stylesheets/img/fav5.png">enquires@rburst.com</li>
				</ul>
			</div>
			<div class="contact-form">
				<div class="top-row">
					<input class="column" type="text" name="Name" placeholder="Name">
					<input class="column" id="center-input" type="email" name="Email" placeholder="Email">
					<input class="column" type="text" name="Subject" placeholder="Subject">
				</div>
				<textarea placeholder="Message"></textarea>
				<button class="send-button">Send Message</button>
			</div>
			</div>
		</div>	
	</div>
	
<footer>
	<div class="container">
		<p>
			2019 &copy; Garet L. All rights reserved.
		</p>
		<div class="social-media">
			<i class="fab fa-facebook-f"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-twitter"></i>
			<i class="fas fa-share-alt"></i>
		</div>
	</div>
</footer>
	
	
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<script src="scripts/owl.carousel.min.js"></script>
<script src="scripts/carousel.js"></script>
		
</body>
</html>
